.clusterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.clusterInteractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-right: 8%;

  width: 100%;
}
.clusterInteractions > a {
  color: #172b4d;
  text-decoration: none;
}

.btnContainer > div {
  position: relative;
}


.boardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5%;
}

.createBoardcard {
  border-radius: 3px;
  width: 194px;
  height: 98px;
  margin-bottom: 2%;
}

.workspaceTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  min-width: 300px;

  margin-bottom: 15px;
  padding: 6px;

  font-weight: 600;
  border-radius: 3px;

  transition: background-color .2s ease;
}
.workspaceTitleContainer:hover {
  background-color: rgb(235, 235, 235);
}

.workspaceTitleLetter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  color: white;
  background: linear-gradient(#403294, #0747a6);
}

.newBoardText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 100%;
  height: 100%;

  cursor: pointer;
  border-radius: 3px;
  background-color: rgb(221, 221, 221);

  transition: background-color .2s ease;
}
.newBoardText:hover {
  background-color: rgba(186, 184, 200, 0.83);
}
.plus {
  width: 15px;
}
.newBoardText > span {
  color: #172b4d;
  font-size: 16px;
  font-weight: 500;
}
