.clusterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.clusterInteractions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.clusterInteractions > a {
  color: #172b4d;
  text-decoration: none;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  width: 28%;
}

.boardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.4%;
}

.createBoardcard {
  border-radius: 3px;
  width: 194px;
  height: 98px;
  border: 1px solid blue;
  margin-bottom: 2%;
}

.workspaceTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  min-width: 300px;

  margin-bottom: 15px;
  padding: 6px;

  font-weight: 500;
  border-radius: 3px;

  transition: background-color .2s ease;
}
.workspaceTitleContainer:hover {
  background-color: rgb(235, 235, 235);
}

.workspaceTitleLetter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  color: white;
  background: linear-gradient(#403294, #0747a6);
}
