.boardcard {
  width: 194px;
  height: 98px;

  padding: 8px;
  margin-bottom: 6%;

  border-radius: 3px;
  font-weight: 600;
}
.boardcard:hover {
  box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.2);
}
.boardcard > a {
  text-decoration: none;
}

/* BG COLORS */
.white {
  background-color: var(--board-white);
  color: var(--board-white-font-color);
}
.red {
  background-color: var(--board-red);
  color: var(--board-font-color);
}
.orange {
  background-color: var(--board-orange);
  color: var(--board-font-color);
}
.blue {
  background-color: var(--board-blue);
  color: var(--board-font-color);
}
.yellow {
  background-color: var(--board-yellow);
  color: var(--board-font-color);
}
.green {
  background-color: var(--board-green);
  color: var(--board-font-color);
}
.purple {
  background-color: var(--board-purple);
  color: var(--board-font-color);
}
.pink {
  background-color: var(--board-pink);
  color: var(--board-font-color);
}
.grey {
  background-color: var(--board-grey);
  color: var(--board-font-color);
}
