.container {
  width: 100%;
}

.form {
  width: 100%;
}
.test {
  width: 43px;
  height: 30px;
  /* border: 1px solid red; */
  display: flex;
}
label > input {
  margin: 0;
}
.radiobtn {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
}
.radioContainer {
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.radio {
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.radiobtn:checked {
  background-image: url('../../../../../app/static/icons/check.svg');
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.blue {
  background-color: var(--board-blue);
}
.orange {
  background-color: var(--board-orange);
}
.red {
  background-color: var(--board-red);
}
.pink {
  background-color: var(--board-pink);
}
.purple {
  background-color: var(--board-purple);
}
.green {
  background-color: var(--board-green);
}
