.btnContainer {
  border-radius: 3px;
  color: rgb(23, 43, 77);
  display: flex;
  flex-direction: row;
}
.icon {
  cursor: pointer;
  width: 16px;
  height: 16px;

  transition: transform 1s ease;
}
.icon:hover {
  transform: rotate(180deg);
}
