.background {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}
.boardBackground {
  position: fixed;
  z-index: 11;
  top: 45px;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}
.container {
  justify-content: center;
  position: absolute;
  z-index: 11;
  padding-top: 4%;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.formBody {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 40%;
  min-height: fit-content;
  background-color: white;
  margin: 0 30% 0 30%;
  z-index: 11;
  font-size: 120%;

  border-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(240, 240, 240);
  border-bottom: 2px solid rgb(148, 148, 148);
}
.modalCap {
  position: relative;
  width: 100%;
  height: 4rem;

  font-size: 2rem;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /* border-bottom: 2px solid rgb(148, 148, 148); */
}
.modalCap > span {
  position: absolute;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 5%;
  font-size: 80%;
}

.form {
  padding: 2% 5%;
}

.x {
  position: absolute;
  right: 0;
  width: 32px;

  margin: 2px;
  padding: 5px;

  filter: invert(12%) sepia(16%) saturate(5189%) hue-rotate(194deg)
    brightness(97%) contrast(90%);
  cursor: pointer;
  transition: filter 0.4s ease, background-color 0.15s ease;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  border-radius: 30px;
}
.x:hover {
  /* filter: invert(40%) sepia(71%) saturate(3493%) hue-rotate(338deg)
    brightness(92%) contrast(92%) !important; */
  background-color: rgba(0, 0, 0, 0.2);
}
.buttonHolder {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 1%;
}
.textArea {
  width: 100%;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  padding-left: 5px;
  font-size: 20px;
  font-style: italic;
  color: Black;
  margin-top: 5px;
}
.closeModel {
  background-color: Grey;
  min-width: 32.89px;
  width: 2%;
  font-size: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 71%;
  padding-bottom: 3px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.nameField {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  color: Black;
  margin-bottom: 2%;
  margin-top: 5px;
}

.selectField {
  width: 100%;
  height: 2rem;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-top: 5px;
}

.delButton {
  height: 35px;
  width: 35px;

  padding: 5px;

  border-radius: 3px;

  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  transition: background-color .15s ease;
}
.delButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.subButton {
  height: 35px;

  margin-right: 2%;
  padding: 0 15px 0 15px;

  color: #ffffff;
  background-color: #0079bf;

  font-size: 18px;
  border: none;
  border-radius: 5px;

  user-select: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  transition: background-color .15s ease;
}
.subButton:hover {
  background-color: #006faf;
}


/* BG COLORS */
.White {
  background-color: var(--card-white);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Red {
  background-color: var(--card-red);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Orange {
  background-color: var(--card-orange);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Blue {
  background-color: var(--card-blue);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Yellow {
  background-color: var(--card-yellow);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Green {
  background-color: var(--card-green);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Purple {
  background-color: var(--card-purple);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Pink {
  background-color: var(--card-pink);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Grey {
  background-color: var(--card-grey);
  box-shadow: var(--card-box-shadow);
  color: var(--card-grey-font-color);
}

@media only screen and (min-width: 2220px) {
  .formBody {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  .container {
    padding-top: 6%;
  }
}
