.mainContainer {
  width: 60%;
  margin: auto;
  border: 1px solid red;
}

/* BG COLORS */
.White {
  background-color: rgb(221, 221, 221);
  color: #172b4d;
}
.Red {
  background-color: #b04632;
}
.Orange {
  background-color: #de7b2f;
  color: #fff;
}
.Blue {
  background-color: #0079bf;
  color: #fff;
}
.Yellow {
  background-color: #f0cd30;
  color: #fff;
}
.Green {
  background-color: #4bbf6b;
  color: #fff;
}
.Purple {
  background-color: #89609e;
  color: #fff;
}
.Pink {
  background-color: #ff8ed4;
  color: #fff;
}
.Grey {
  background-color: #838c91;
  color: #fff;
}
