.mainContainer {
  width: 60%;
  margin: auto;
  margin-top: 45px;
}

/* BG COLORS */
.white {
  background-color: var(--board-white);
  color: var(--board-white-font-color);
}
.red {
  background-color: var(--board-red);
  color: var(--board-font-color);
}
.orange {
  background-color: var(--board-orange);
  color: var(--board-font-color);
}
.blue {
  background-color: var(--board-blue);
  color: var(--board-font-color);
}
.yellow {
  background-color: var(--board-yellow);
  color: var(--board-font-color);
}
.green {
  background-color: var(--board-green);
  color: var(--board-font-color);
}
.purple {
  background-color: var(--board-purple);
  color: var(--board-font-color);
}
.pink {
  background-color: var(--board-pink);
  color: var(--board-font-color);
}
.grey {
  background-color: var(--board-grey);
  color: var(--board-font-color);
}
