.background {
  background-color: black;
  padding-top: 8vh;
  opacity: 70%;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.formBody {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  height: 80vh;
  background-color: white;
  margin: 0 20% 10% 20%;
  z-index: 11;
  font-size: 150%;
}
