.containerWrapper {
    position: relative;
    top: 45px;
    padding: 10px 10px 10px 20px;
    height: calc(100% - 45px);
    margin: 0;
}
.containerWrapper > h1 {
    margin: 0 0 8px 5px;
    font-size: 24px;
}

.stackContainer {
    display: flex;
    height: calc(100% - 45px);
    overflow-x: auto;
    padding: 3px 3px 8px 3px;
}
