.containerWrapper {
    position: relative;
    top: 45px;
    height: calc(100% - 45px);
    margin: 0;
}
.containerWrapper > h1 {
    margin: 0;
}

.stackContainer {
    display: flex;
    height: calc(100% - 45px);
    overflow-x: auto;
    padding-bottom: 8px;
}
