.containerWrapper {
<<<<<<< HEAD
    position: relative;
    top: 45px;
    padding: 10px 10px 10px 20px;
    height: calc(100% - 45px);
    margin: 0;
}
.containerWrapper > h1 {
    margin: 0 0 8px 5px;
    font-size: 24px;
}

.stackContainer {
    display: flex;
    height: calc(100% - 45px);
    overflow-x: auto;
    padding: 3px 3px 8px 3px;
=======
  position: relative;
  top: 45px;
  height: calc(100% - 45px);
  margin: 0;
  padding: 1% 3% 0 3%;
}
.containerWrapperName {
  margin: 0;
  border-bottom: 1.4px solid #fff;
}
.containerWrapperNameWhite {
  margin: 0;
  border-bottom: 1.4px solid #172b4d;
}

.stackContainer {
  display: flex;
  height: calc(100% - 45px);
  overflow-x: auto;
  padding-top: 1.5%;
  padding-bottom: 8px;
}

.White {
  border-bottom: 1.4px solid #172b4d;
}
.Red {
  border-bottom: 1.4px solid #fff;
}
.Orange {
  border-bottom: 1.4px solid #fff;
}
.Blue {
  border-bottom: 1.4px solid #fff;
}
.Yellow {
  border-bottom: 1.4px solid #fff;
}
.Green {
  border-bottom: 1.4px solid #fff;
}
.Purple {
  border-bottom: 1.4px solid #fff;
}
.Pink {
  border-bottom: 1.4px solid #fff;
}
.Grey {
  border-bottom: 1.4px solid #fff;
>>>>>>> 1edbbd233a9c9cbb80b656a5181f9f5a10e2c3ec
}
