.addStack {
  display: flex;
  flex-direction: column;

  width: 272px;
  height: 40px;

  border-radius: 3px;
  background-color: #ebecf056;
  justify-content: center;
  align-items: center;

  transition: background-color .1s ease;
}

.addStack:hover {
  cursor: pointer;
  background-color: #ebecf083;
}

.stackForm {
  display: flex;
  flex-direction: column;

  min-width: 272px;
  height: 72px;

  border-radius: 3px;
  background-color: #ebecf0;
  justify-content: center;
  align-items: center;
}

.formButton {
  border: none;
  background-color: rgb(48, 126, 216);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.formName {
  display: flex;
  width: 100%;
  border: 2px solid rgb(48, 126, 216);
  border-radius: 3px;
}

.formCloseContainer {
  margin-left: 4%;
  height: 20px;
  width: 20px;
}

.formClose {
  padding-left: 4%;

  height: 20px;
  width: 20px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  transition: filter .2s ease;
}
.formClose:hover {
  filter: invert(40%) sepia(71%) saturate(3493%) hue-rotate(338deg) brightness(92%) contrast(92%) !important;
}

.formButtonHolder {
  display: flex;
  padding: 3px 0 6px 0;
}
.formContainer {
  width: 100%;
  min-width: 272px;
  /* margin-right: 20px; */
  padding: 9px 6px 6px 6px;
}

.nameText {
  padding-top: 3px;
  font-weight: 500;
  color: #172b4d;
}

.plusContainer {
  display: flex;
  min-width: 272px;
  align-items: center;
  height: 100%;
  margin-left: 2%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.plusFirst {
  display: flex;
  margin-right: 5px;
  margin-left: 10px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.plus {
  display: flex;
  height: 16px;
  margin-right: 5px;
  margin-left: 10px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.darkPlus {
  display: flex;
  height: 30%;
  margin-right: 5px;
  margin-left: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(100%) contrast(100%);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
