nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 106, 167);
  justify-content: space-between;
  align-items: center;
}
.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 25%;
  height: 100%;
  margin-top: 2px;
  margin-left: 0.5%;
  max-height: 45px;
}

.userInteractionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 50px;

  width: 300px;
  height: 100%;
}
.userInteractionsContainer > a {
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0 25px 0 25px;

  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;

  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1);

  transition: border-left .25s ease, border-right .25s ease;
}
.userInteractionsContainer > a:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 76, 120, 0.4);
  border-right: 1px solid rgba(0, 76, 120, 0.4);
}

.demoLoginBtn {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 25px 0 25px;

  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;

  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1);

  transition: border-left .25s ease, border-right .25s ease;
}
.demoLoginBtn:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 76, 120, 0.4);
  border-right: 1px solid rgba(0, 76, 120, 0.4);
}
