.createBoardcard {
  display: flex;
  border-radius: 3px;
  width: 194px;
  height: 98px;
  border: 1px solid blue;
  margin-bottom: 2%;
  position: absolute;
  z-index: 2;
}
.boardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5%;
  max-width: 60vw;
}

.cardHolder {
  display: flex;
  margin-bottom: 10px;
}

.settings {
  display: flex;
}

.gear {
  position: relative;
  right: 24px;
  height: 16px;
  width: 16px;
  top: 10px;
}

.gear:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 1.9s ease-in-out 0s;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 40px;
  height: 60px;
  width: 60px;

  color: white;
  font-size: 18px;
  font-weight: 600;

  border-radius: 3px;
  background: linear-gradient(#403294, #0747a6);
}
.wsTitle {
  margin-top: 7%;
  color: #172b4d;
  display: flex;
  gap: 2%;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 3%;
}

.wsTitle > span {
  font-size: 2em;
  font-weight: 700;
}
