.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 6px 8px 2px;
    margin-bottom: 8px;

    border-radius: 3px;
    background-color: #ffffff;

    color: #172b4d;
}
.cardContainer:hover {
    box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.1);
}

.dragHandle {
    width: 100%;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 22px;
    margin-bottom: 3px;

    border-radius: 3px;
    background-color: #f4f5f7be;
    opacity: 0%;
    transition: opacity .2s ease;
}
.editButton:hover {
    cursor: pointer;
    background-color: #f4f5f7ed;
}
.cardContainer:hover .editButton {
    opacity: 100%;
}

.pencil {
    width: 12px;
    height: 12px;
}

.description {
    margin: 0 0 4px;
    padding: 0;

    font-size: 14px;
    font-weight: 500;
}

/* BG COLORS */
.White {
    background-color: #fff;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Red {
    background-color: #EF7564;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Orange {
    background-color: #FFAF3F;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Blue {
    background-color: #5BA4CF;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Yellow {
    background-color: #F5DD29;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Green {
    background-color: #7BC86C;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Purple {
    background-color: #CD8DE5;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Pink {
    background-color: #FF8ED4;
    box-shadow: 0 1px 0 #091e4240;
    color: #172b4d;
}
.Grey {
    background-color: #172B4D;
    box-shadow: 0 1px 0 #091e4240;
    color: #fff;
}
