.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 6px 8px 2px;
  margin-bottom: 8px;

  border-radius: 3px;
  background-color: #ffffff;

  color: #172b4d;
}
.cardContainer:hover {
  box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.1);
}

.dragHandle {
  width: 100%;
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 22px;
  margin-bottom: 3px;

  border-radius: 3px;
  background-color: #f4f5f7be;
  opacity: 0%;
  transition: opacity 0.2s ease;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.editButton:hover {
  cursor: pointer;
  background-color: #f4f5f7ed;
}
.cardContainer:hover .editButton {
  opacity: 100%;
}

.pencil {
  width: 12px;
  height: 12px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.description {
  margin: 0 0 4px;
  padding: 0;

  font-size: 14px;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* BG COLORS */
.White {
  background-color: var(--card-white);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Red {
  background-color: var(--card-red);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Orange {
  background-color: var(--card-orange);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Blue {
  background-color: var(--card-blue);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Yellow {
  background-color: var(--card-yellow);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Green {
  background-color: var(--card-green);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Purple {
  background-color: var(--card-purple);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Pink {
  background-color: var(--card-pink);
  box-shadow: var(--card-box-shadow);
  color: var(--card-font-color);
}
.Grey {
  background-color: var(--card-grey);
  box-shadow: var(--card-box-shadow);
  color: var(--card-grey-font-color);
}
