.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 90%;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  width: 100%;
  margin-bottom: 1%;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
}
.inputField {
  height: 2.5em;
  margin-bottom: 5%;
}

.submitBtn {
  margin-bottom: 5%;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0175b8;
  width: 100%;
  height: 3.98vh;
  min-height: 30px;
  margin-top: 5%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.errors {
  background-color: #eb5a46;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 3px;
  color: white;
}
